

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: transparent;
}


/*--------------------------*/
/*--------------------------*/
/*Controls*/
/*--------------------------*/
/*--------------------------*/

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  flex-wrap: nowrap;
  padding: 6px 5px;
  position: absolute;
  width: 98%;
}

.controls button {
  font-size: 12px;
  line-height: 12px;
  padding: 0 4px;
  outline: none;
  border: solid 1px transparent;
  background: transparent;
  color: #fff;
}


.controls button:hover {
  cursor: pointer;
  color: rgba(0,0,0,0.5);
}

.loading #reload {
  animation: pulse-animation 1.5s infinite ease-in-out;
}

@keyframes pulse-animation {
  0% { transform: scale(1); }
  25% {transform: scale(1.4); }
  50% {transform: scale(1); }
  75% {transform: scale(0.7); }
  100% {transform: scale(1); }
}


/*--------------------------*/
/*--------------------------*/
/*Address bar*/
/*--------------------------*/
/*--------------------------*/

.controls input {
  border-radius: 5px;
  width: 50vw;
  margin-left: 2vw;
  color: #fff;
  padding: 4px;
  padding-left: 5px;
  border: 1px solid;
  background: transparent;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03rem;
  /*outline: none;*/
}

